.ant-card-head-title {
  font-size: 13px;
  letter-spacing: 0.12em;
  font-weight: bold;
  text-transform: uppercase;
}

.ant-card-head {
  background-color: #f5f5f5;
}

.ant-tabs-tab {
  font-weight: bold;
  color: #616061;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-weight: bold;
  color: black !important;
}
